{% extends "litreview/base.html" %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="success-message-login">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div id = "btn-createticketcreate-critique">
        <a href="{% url 'litreview-createticket' %}">
            <button class= "button-ask-critique" type="button">Demander un avis</button>
        </a>
        <a href="{% url 'litreview-createcritique' %}">
            <button class= "button-create-critique" type="button">Créer une critique</button>
        </a>
    </div>

    <div>
        {% for obj in object_list %}
            {% if obj.ticket %}
                <div class="ticket-flux">
                    {% include 'litreview/ticket.html' %}
                    {% if obj.ticket.answer_review == False %}
                        <div class="btn-modificationpos-ticket">
                                <a href="{% url 'litreview-answercritique' obj.ticket.id %}">
                                    <button class ="ticket-btn-modified" type="button">Créer une critique</button></a>
                        </div>
                    {% elif user.username != obj.ticket.user.username and obj.ticket.answer_review == False %}
                        <div class="btn-modificationpos-ticket">
                                <a href="{% url 'litreview-answercritique' obj.ticket.id %}">
                                    <button class ="ticket-btn-modified" type="button">Créer une critique</button></a>
                        </div>
                    {% endif %}
                </div>
            {% elif obj.review %}
                <div class="review-main-flux">
                    {% include 'litreview/review.html' %}
                    {% if obj.review.answer_review == False %}
                        <div class="btn-modificationpost">
                            <a href="{% url 'litreview-answercritique' obj.review.ticket.id %}">
                                <button class ="btn-modified-review" type="button">Créer une critique</button></a>
                        </div>
                    {% elif user.username != obj.ticket.user.username and obj.review.answer_review == False %}
                        <div class="btn-modificationpost">
                            <a href="{% url 'litreview-answercritique' obj.review.ticket.id %}">
                                <button class ="btn-modified-review" type="button">Créer une critique</button></a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}


        {% endfor %}
    </div>
{% endblock %}