{% extends "litreview/base.html" %}

{% block content %}
    {% for obj in object_list %}
        {% if obj.ticket %}
            <div class="ticket-flux">
                {% include 'litreview/ticket.html' %}
                <div class="btn-modified-delete-ticket">
                    <div><a href="{% url 'litreview-modifiedticket' obj.ticket.id %}">
                        <button class="modified-btn-ticket" type="button">modifier</button></a>
                    </div>
                    <div>
                        <form method="POST">
                            {% csrf_token %}
                            <button class="delete-btn-ticket" type="submit" name="delete-ticket"
                                    value="{{ obj.ticket.id }}">supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
        {% elif obj.review %}
            <div class="review-main-posts">
                {% include 'litreview/review.html' %}
                    <div class="btn-modificationpost">
                        <div class ="btn-modified-post">
                            <a href="{% url 'litreview-modifiedanswercritique' obj.review.id %}">
                            <button  type="button">modifier</button></a>
                        </div>
                        <div class ="btn-delete-post">
                            <form method="POST">
                                {% csrf_token %}
                                <button  type="submit" name="delete-review"
                                         value="{{ obj.review.id }}">supprimer</button>
                            </form>
                        </div>
                    </div>
                    {% if user.username == review.user.username %}
                        <div class="user-ticket-review">
                            {% include 'litreview/ticket.html' %}
                            <div><a href="{% url 'litreview-modifiedticket' obj.review.ticket.id %}">
                                <button class ="btn-modified-ticket" type="button">modifier</button></a>
                            </div>
                            <div>
                                <form method="POST">
                                    {% csrf_token %}
                                    <button class ="btn-delete-ticket" type="submit" name="delete-ticket"
                                            value="{{ obj.review.ticket.id }}">supprimer</button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}